{% extends "fa/base/base.html" %}
{% load static %}
{% load jalali_tags %}
{% load thumbnail %}


{% block meta %}
{% endblock meta %}
	
{% block title %}
	وبلاگ و مقالات
{% endblock title %}


{% block STYLESHEETS %}

{% endblock STYLESHEETS %}


{% block font %}
{% endblock font %}



{% block body %}
	
    <!-- Content -->
    <div class="page-content bg-white">
		<!-- inner page banner -->
		<div class="dlab-bnr-inr overlay-black-middle bg-pt" style="background-image:url({% static 'images/poosam/bgHeader.png' %});">
		<div class="container">
			<div class="dlab-bnr-inr-entry">
				<h1 class="text-white">
					وبلاگ
				</h1>
				<!-- Breadcrumb row -->
				<div class="breadcrumb-row">
					<ul class="list-inline">
						<li>
							<a href="{% url 'home' %}">
								صفحه اصلی
							</a>
						</li>
						<li>
							<a href="{% url 'blog_list' %}">
								وبلاگ
							</a>
						</li>
					</ul>
				</div>
				<!-- Breadcrumb row END -->
			</div>
		</div>
		</div>
		<!-- inner page banner END -->
		<!-- contact area -->
		<div class="content-area">
			<div class="container max-w900">
				<!-- Blog large img -->
				{% for post in blog_posts %}
				<div class="blog-post blog-lg blog-rounded">
					<div class="dlab-post-media dlab-img-effect zoom-slow"> 
						<a href="{% url 'blog_detail' slug=post.slug %}">
							{% if post.image %}
							{% thumbnail post.image "1000x600" crop="center" as im %}
								<img src="{{ im.url }}" alt="{{ post.title }}" width="{{ im.width }}" height="{{ im.height }}">
							{% empty %}
								<img src="{% static 'images/noimage.jpg' %}" alt="{{ post.title }}">
							{% endthumbnail %}
							{% endif %}
						</a> 
					</div>
					<div class="dlab-info p-a25 border-1">
						<div class="dlab-post-meta">
							<ul>
								<li class="post-date">
									<strong>
										{{ post.created_date|to_jalali:'%d %B' }}
									</strong>
									<span>
										{{ post.created_date|to_jalali:'%Y' }}
									</span>
								</li>
								<li class="post-author">
									{{ post.author }}
								</li>
							</ul>
						</div>
						<div class="dlab-post-title">
							<h4 class="post-title">
								<a href="{% url 'blog_detail' slug=post.slug %}">
									{{ post.title }}
								</a>
							</h4>
						</div>
						<div class="dlab-post-text">
							<p>
								{{ post.short_description }}
							</p>
						</div>
						<div class="dlab-post-readmore"> 
							<a href="{% url 'blog_detail' slug=post.slug %}" title="ادامه مطلب" rel="bookmark" class="site-button">
								ادامه مطلب
								<i class="ti-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
				{% endfor %}
				
				<!-- Blog large img END -->
				<!-- Pagination start -->
				<div class="pagination-bx clearfix text-center">
					<ul class="pagination">
						{% if page_obj.has_previous %}
						<li class="previous">
							<a href="?page={{ page_obj.previous_page_number }}">
								<i class="ti-arrow-left"></i>
								قبلی
							</a>
						</li>
						{% endif %}
						
						{% for num in page_obj.paginator.page_range %}
						<li class="{% if page_obj.number == num %}active{% endif %}">
							<a href="?page={{ num }}">
								{{ num }}
							</a>
						</li>
						{% endfor %}
						
						{% if page_obj.has_next %}
						<li class="next">
							<a href="?page={{ page_obj.next_page_number }}">
								بعدی
								<i class="ti-arrow-right"></i>
							</a>
						</li>
						{% endif %}
					</ul>
				</div>
				<!-- Pagination END -->
			</div>
		</div>
		</div>
	
	
	<button class="scroltop style1 radius" type="button"><i class="fas fa-arrow-up"></i></button>

{% endblock body %}
	



