{% extends 'fa/base/base.html' %}
{% load static %}

{% block meta %}
{% endblock meta %}
	
{% block title %}
	درباره ما
{% endblock title %}


{% block STYLESHEETS %}

{% endblock STYLESHEETS %}


{% block font %}
{% endblock font %}
	
{% block body %}
	<!-- inner page banner -->
	<div class="dlab-bnr-inr overlay-black-middle bg-pt" style="background-image:url(images/poosam/bgHeader.png);">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <h1 class="text-white">
						تماس با ما
					</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li>
								<a href="index-18.html">
									صفحه اصلی
								</a>
							</li>
							<li>
								<a href="contact-1.html">
									تماس با ما
								</a>
							</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
    </div>
    <!-- inner page banner END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- Contact Form -->
		<div class="section-full content-inner contact-page-9 overlay-black-dark" style="background-image: url(images/poosam/bgHeader.png); background-position: 30% 100%">
			<div class="container">
                <div class="row">
					<div class="col-lg-4 col-md-12 text-white">
						<div class="row">
							<div class="col-lg-12 col-md-12 m-b30">
								<div class="icon-bx-wraper bx-style-1 p-a20 radius-sm">
									<div class="icon-content">
										<h5 class="dlab-tilte">
											<span class="icon-sm text-primary">
												<i class="ti-location-pin"></i>
											</span> 
											{{ about_us.company_name }}
										</h5>
										<p>
											کارخانه : 
											<br>
											{{ about_us.company_location }}
										</p>
										<h6 class="m-b15 font-weight-400">
											<i class="ti-alarm-clock"></i>
											ساعات کار : 
										</h6>
										<p class="m-b0">
										{{ about_us.work_time }}
										</p>
										
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-6 m-b30">
								<div class="icon-bx-wraper bx-style-1 p-a20 radius-sm">
									<div class="icon-content">
										<h5 class="dlab-tilte">
											<span class="icon-sm text-primary">
												<i class="ti-email"></i>
											</span> 
											ایمیل
										</h5>
										
										{% for email in about_us.email.all %}
											
										<p class="m-b0">
											<a href="Sale@poosam.net" class="text-white">
												{{ email.title }}: {{ email.email }}
											</a>
										</p>
										
										{% endfor %}
										
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-6 m-b30">
								<div class="icon-bx-wraper bx-style-1 p-a20 radius-sm">
									<div class="icon-content">
										<h5 class="dlab-tilte">
											<span class="icon-sm text-primary">
												<i class="ti-mobile"></i>
											</span> 
											 شماره تلفن ها
										</h5>
										
										{% for phone in about_us.phone.all %}
										
										
										<p class="m-b0">
											{{ phone.type }} ({{ phone.name }}): <br> {{ phone.phone }}
										</p>

										{% endfor %}
											
										
										
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 m-b30">
						<form class="inquiry-form wow box-shadow bg-white fadeInUp" data-wow-delay="0.2s">
							<h3 class="title-box font-weight-300 m-t0 m-b10">
								جهت ارتباط با شرکت پویا صنعت مبدل میتوانید از طریق ذیل اقدام نمایید : 
								<span class="bg-primary"></span>
							</h3>
							<!-- <p>لوريم إيبسوم هو ببساطة نص وهمي لصناعة الطباعة والتنضيد. كان لوريم إيبسوم النص الوهمي القياسي في هذه الصناعة منذ ذلك الحين</p> -->
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="ti-user text-primary"></i></span>
											<input name="dzName" type="text" required class="form-control" placeholder="نام">
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="ti-mobile text-primary"></i></span>
											<input name="dzOther[Phone]" type="text" required class="form-control dz-number" placeholder="تلفن">
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-12">
									<div class="form-group">
										<div class="input-group"> 
											<span class="input-group-addon"><i class="ti-email text-primary"></i></span>
											<input name="dzEmail" type="email" class="form-control" required  placeholder="شناسه ایمیل شما" >
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="form-group">
										<div class="input-group flex-nowrap">
											<span class="input-group-addon"><i class="ti-check-box text-primary"></i></span>
											<select>
												<option>
													لورم1
												</option>
												<option>
													2لورم
												</option>
												<option>
													3لورم
												</option>
												<option>
													4لورم
												</option>
												<option>
													5لورم
												</option>
												<option>
													6لورم
												</option>
												<option>
													7لورم
												</option>
												<option>
													8لورم
												</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="ti-file text-primary"></i></span>
											<input name="dzOther[Subject]" type="text" required class="form-control" placeholder="یک فایل آپلود کنید">
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-12">
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="ti-agenda text-primary"></i></span>
											<textarea name="dzMessage" rows="4" class="form-control" required placeholder="در مورد پروژه یا ایده خود به ما بگویید"></textarea>
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-12">
									<button name="submit" type="submit" value="Submit" class="site-button button-md">
										<span>
											دریافت نقل قول رایگان!
										</span>
									</button>
								</div>
							</div>
						</form>	
					</div>
				</div>
            </div>
		</div>
        <!-- Contact Form END -->
    </div>
    <!-- Content END-->

{% endblock body %}

{% block js %}
{% endblock js %}	
