{% load static %}
{% load render_partial %}


<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" >
	<meta name="author" content="" >
	<meta name="robots" content="" >
	<meta name="description" content="الصناعة - قالب HTML المصنع والصناعي" >
	<meta property="og:title" content="الصناعة - قالب HTML المصنع والصناعي" >
	<meta property="og:description" content="الصناعة - قالب HTML المصنع والصناعي" >
	<meta property="og:image" content="https://industry.dexignzone.com/xhtml/social-image.png" >
	<meta name="format-detection" content="telephone=no">
	{% block meta %}
	
	{% endblock meta %}
	
	<!-- FAVICONS ICON -->
	<!-- <link rel="icon" href="images/favicon.ico" type="image/x-icon" >
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" > -->
	<link rel="shortcut icon" href="{% static "images/poosam/favicon-32x32.png" %}" type="image/x-icon">

	<!-- PAGE TITLE HERE -->
	<title>

		{% block title %}
		
		{% endblock title %}

	</title>
	
	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	
	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link class="skin" rel="stylesheet" type="text/css" href="{% static 'css/skin/skin-1.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/templete.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/rtl.css' %}">
	{% block STYLESHEETS %}
	{% endblock STYLESHEETS %}

	<!-- my css -->
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">


	<!-- Google Font -->
	<style>
	@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
	</style>
	{% block font %}
	{% endblock font %}


	<!-- REVOLUTION SLIDER CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'plugins/revolution/revolution/css/revolution.min.css' %}">
	<!-- Link Swiper's CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
	
</head>	

<body class="custom-cursor">
<div class="custom-cursor__cursor"></div>
<div class="custom-cursor__cursor-two"></div>
<div id="loading-area"></div>

{% render_partial 'home_module.views.header_component' %}

	{% block body %}
	
	{% endblock body %}


	{% render_partial 'home_module.views.footer_component' %}

    <button class="scroltop style1 radius" type="button"><i class="fas fa-arrow-up"></i></button>

	
	{% block js %}
	
	{% endblock js %}
<!-- JAVASCRIPT FILES ========================================= -->
	<script src="{% static 'js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
	<script src="{% static 'plugins/wow/wow.js' %}"></script><!-- WOW JS -->

	<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script><!-- FORM JS -->
	<script src="{% static 'plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script><!-- FORM JS -->
	<script src="{% static 'plugins/magnific-popup/magnific-popup.js' %}"></script><!-- MAGNIFIC POPUP JS -->
	<script src="{% static 'plugins/counter/waypoints-min.js' %}"></script><!-- WAYPOINTS JS -->
	<script src="{% static 'plugins/counter/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
	<script src="{% static 'plugins/imagesloaded/imagesloaded.js' %}"></script><!-- IMAGESLOADED -->
	<script src="{% static 'plugins/masonry/masonry-3.1.4.js' %}"></script><!-- MASONRY -->
	<script src="{% static 'plugins/masonry/masonry.filter.js' %}"></script><!-- MASONRY -->
	<script src="{% static 'plugins/owl-carousel/owl.carousel.js' %}"></script><!-- OWL SLIDER -->
	<script src="{% static 'plugins/lightgallery/js/lightgallery-all.min.js' %}"></script><!-- Lightgallery -->
	<script src="{% static 'plugins/scroll/scrollbar.min.js' %}"></script><!-- scroll -->
	<script src="{% static 'js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  -->
	<script src="{% static 'js/dz.carousel.min.js' %}"></script><!-- SORTCODE FUCTIONS  -->
	<script src="{% static 'plugins/countdown/jquery.countdown.js' %}"></script><!-- COUNTDOWN FUCTIONS  -->
	<script src="{% static 'js/dz.ajax.js' %}"></script><!-- CONTACT JS  -->
	<script src="{% static 'js/jquery.lazy.min.js' %}"></script>

	<!-- my script -->	
	<script src="{% static 'js/ourCustom.js' %}"></script>

	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script><!-- Swiper JS -->

	<!-- REVOLUTION JS FILES -->
	<script src="{% static 'plugins/revolution/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
	<script src="{% static 'plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
	<!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
	<script src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
	<script src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
	<script src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
	<script src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
	<script src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
	<script src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
	<script src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
	<script src="{% static 'plugins/revolution/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
	<script src="{% static 'js/rev.slider.js' %}"></script>
	<script>
		jQuery(document).ready(function() {
			'use strict';
			dz_rev_slider_4();	
			$('.lazy').Lazy();
		});	/*ready*/
		</script>
		
		<script>
		if(jQuery('.mySwiper').length > 0){
				var swiper = new Swiper(".mySwiper", {
					slidesPerView:5,
					speed: 1500,
					spaceBetween: 32,
					<!-- parallax: true, -->
					<!-- loop: true, -->
					<!-- grabCursor: true,	 -->
					navigation: {
						nextEl: ".swiper-button-next",
						prevEl: ".swiper-button-prev",
					},
					breakpoints: {
						360: {
							slidesPerView: 1.5,
						},
						575: {
							slidesPerView: 1,
						},
						576: {
							slidesPerView: 2,
						},
						767: {
							slidesPerView: 2,
						},
						768: {
							slidesPerView: 3,
						},
						990: {
							slidesPerView: 4,
						},
						991: {
							slidesPerView: 4,
						},
						1200: {
							slidesPerView: 4,
						},
						1201: {
							slidesPerView: 5,
						},
						1600: {
							slidesPerView: 7,
						},
					} 
				});
			}
		</script>
		



</body>
</html>