{% extends "fa/base/base.html" %}
{% load static %}
{% load thumbnail %}
{% block meta %}
{% endblock meta %}
	
{% block title %}
	خانه
{% endblock title %}


{% block STYLESHEETS %}

{% endblock STYLESHEETS %}


{% block font %}
{% endblock font %}


{% block body %}

	    <!-- Content -->
		<div class="page-content bg-white">
			<!-- Main Slider -->
			<div class="dz-oil-industry-zone">
				<div class="container-fluid">				
					<div class="dz-banner-bottom position-relative">
						<div class="swiper mySwiper">
							<div class="swiper-wrapper wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
								
								{% for slider in sliders %}
								<div class="swiper-slide box-hover">
									<div class="dz-banner-media position-relative" style="background-image:url({% thumbnail slider.image '720x480' crop='center' as im %}{{ im.url }}{% endthumbnail %});">
										
										
										<div class="dz-media-content position-absolute">
											<h3 class="m-0">
											  {{ slider.title }}
											</h3>
										</div>
										<div class="dz-media-content2 d-flex align-items-center justify-content-between position-absolute">
											<h2 class="fw-bold m-0"> 
												{{ slider.title }}
											</h2>
											<a href="{{ slider.link }}" class="btn mediabtn bg-white text-primary">
												مشاهده جزئیات
											</a>
										</div>
									</div>
								</div>
								{% endfor %}
							
													
							</div>
						</div>
						<div class="swiper-button-next dz-next bg-primary"></div>
						<div class="swiper-button-prev dz-prev bg-primary"></div>
					</div>
				</div>
			</div>  
			<!-- Main Slider -->
			<!-- contact area -->
		   <div class="content-block">
				<!-- Content Section -->
				<div class="section-full">
					<div class="row spno about-industry">
						<div class="col-lg-8 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
							<div class="dlab-post-media dlab-img-effect zoom"> 
								
								<img src="{% static 'images/poosam/کاربردمخزن-استیل.jpg' %}" alt="کاربرد مخزن استیل" class="img-cover">
								
							</div>
						</div>
						<div class="col-lg-4 bg-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
							<div class="service-box style2">
								<div>
									<h2 class="title text-black">
										<span>
										کاربرد
									</span>
									 <br>
									 مخزن استیل
									</h2>
									<p>
										مخزن استیل درچه صنایعی کاربرد دارد و بر اساس چه نوع کاربردی ساخته میشود .
									</p>
									<a href="products.html" class="site-button outline outline-2 btnhover11">
										توضیحات بیشتر 
									</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
							<div class="dlab-post-media dlab-img-effect zoom"> 
								<!-- عکس مشاهده لیست قیمت : اینجاست -->
								
								<img src="{% static 'images/poosam/شیرسردکن2.jpg' %}" alt="شیر سردکن" class="img-cover">
								
							</div>
						</div>
						<div class="col-lg-4 bg-secondry text-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s">
							<div class="service-box style2">
								<div>
									<h2 class="title">
										<span>
										راکتور استیل
										</span>
									</h2>
									<p>
										- راکتور استیل چیست ؟
										<br>
										- راکتور استیل چه کاربردی دارد ؟ 
									</p>
									<a href="main-shop.html" class="site-button outline white outline-2 btnhover11">
										ورود به دسته بندی
									</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
							<div class="dlab-post-media dlab-img-effect zoom"> 
								<!-- عکس آیس بانک -->
								
								<img src="{% static 'images/poosam/آیس-بانک2.jpg' %}" alt="آیس بانک" class="img-cover">
								
							</div>
						</div>
						<div class="col-lg-4 bg-primary text-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
							<div class="service-box style2">
								<div>
									<h2 class="title">
									<span>
									مشاهده لیست قیمت :
									</span>
								</h2>
									<p>
										- شیر سرد کن گاورداری
										<br>
										- شیر سرد کن لبنیاتی 
										<br>
										- شیر سرد کن دامداری
									</p>
									<a href="main-shop.html" class="site-button outline white outline-2 btnhover11">
										ورود به دسته بندی
									</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
							<div class="dlab-post-media dlab-img-effect zoom"> 
								<!-- عکس راکتور استیل -->
								
								<img src="{% static 'images/poosam/راکتوراستیل2.jpg' %}" alt="راکتور استیل" class="img-cover">
								
							</div>
						</div>
						<div class="col-lg-4 bg-primary text-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s">
							<div class="service-box style2">
								<div>
									<h2 class="title ">
										<span>
											آیس بانک
										</span>
									</h2>
									<p>
										- آیس بانک چیست ؟
										<br>
										- آیس بانک چه کاربردی دارد ؟ 
									</p>
									<a href="main-shop.html" class="site-button outline white outline-2 btnhover11">
										ورود به دسته بندی
									</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 bg-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
							<div class="service-box style2">
								<div>
									<h2 class="title text-black">
										<span>
											ماشین آلات خطوط تولید لبنیات 
										</span>
									</h2>
									<p>
										- تجهیزات تولید لبنیات صنعتی 
										<br>
										- لوازم ماست بندی 
									</p>
									<a href="main-shop.html" class="site-button outline outline-2 btnhover11">
										ورود به دسته بندی
									</a>
								</div>
							</div>
						</div>
						<div class="col-lg-8 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
							<div class="dlab-post-media dlab-img-effect zoom"> 
								
								<img src="{% static 'images/poosam/ماشین-آلات-خطوط-تولید-لبنیات.jpg' %}" alt="ماشین آلات خطوط تولید لبنیات" class="img-cover">
								
							</div>
						</div>
					</div>
				</div>
				<!-- Content Section End -->
				 <!-- مشتریان ما -->
				 <!-- Team Section Style 8 & 1 -->
				<div class="section-full bg-gray content-inner-2">
					<div class="container">
						<div class="sort-title clearfix text-center">
							<h4>
								نمونه کارهای ما
							</h4>
						</div>
						<div class="owl-team owl-carousel dlab-team11-area owl-theme owl-btn-center-lr dots-theme">
							{% for item in portfolio_items %}
							<div class="item">
								<div class="dlab-box m-b30 dlab-team4">
									<div class="dlab-media">
										<a href="{{ item.link }}">
											{% thumbnail item.image '270x270' crop='center' as im %}
											<img alt="{{ item.title }}" src="{{ im.url }}">
											{% endthumbnail %}
										</a>
									</div>
									<div class="dlab-info">
										<h4 class="dlab-title">
											<a href="{{ item.link }}">
												{{ item.title }}
											</a>
										</h4>
										<span class="dlab-position">
											{{ item.link }}
										</span>
										<ul class="dlab-social-icon">
											<li><a class="site-button circle-sm gray-light fab fa-facebook-f" href="javascript:void(0);"></a></li>
											<li><a class="site-button circle-sm gray-light fab fa-twitter" href="javascript:void(0);"></a></li>
											<li><a class="site-button circle-sm gray-light fab fa-linkedin-in" href="javascript:void(0);"></a></li>
											<li><a class="site-button circle-sm gray-light fab fa-pinterest-p" href="javascript:void(0);"></a></li>
										</ul>
									</div>
								</div>
							</div>
							{% empty %}
							<div class="item">
								<div class="dlab-box m-b30 dlab-team4">
									<div class="dlab-info text-center">
										<p>در حال حاضر نمونه کاری برای نمایش وجود ندارد.</p>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<!-- Team Section Style 8 & 1 End -->
				
				<h2 class="p-5 title text-black smallerFont">
					پروژه های ساخته شده توسط گروه صنعتی پوصام :
				</h2>
				<div class="section-full content-inner bg-white bg-img-fix">
					<div class="container">
						<div class="section-content">
							<div class="row">
								<div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
									<div class="counter-style-1 text-center">
										<div class="">
											<span class="counter">1230</span>
										</div>
										<span class="counter-text">
											مخازن استیل
										</span>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
									<div class="counter-style-1 text-center">
										<div class="">
											<span class="counter">840</span>
										</div>
										<span class="counter-text">
											راکتور استیل
										</span>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
									<div class="counter-style-1 text-center">
										<div class="">
											<span class="counter">122</span>
										</div>
										<span class="counter-text">
											فرمانتور استیل
										</span>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
									<div class="counter-style-1 text-center">
										<div class="">
											<span class="counter">684</span>
										</div>
										<span class="counter-text">
											آیس بانک
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="section-full overlay-black-dark bg-img-fix text-white content-inner" style="background-image:url({% static 'images/poosam/bgHeader.png' %});">
					<div class="container">
						<div class="section-content">
							<div class="row">
								<div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
									<div class="m-b30 dlab-box text-center counter-style-2">
										<div class="icon-lg "><i class="flaticon-factory"></i></div>
										<div class="counter text-blue m-b5">180</div>
										<span class="counter-text">
											تجهیزات ماست بندی
										</span> 
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
									<div class="m-b30 dlab-box text-center counter-style-2">
										<div class="icon-lg "><i class="flaticon-worker"></i></div>
										<div class="counter text-blue m-b5">932</div>
										<span class="counter-text">
											شیر سرد کن 
										</span>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
									<div class="m-b30 dlab-box text-center counter-style-2">
										<div class="icon-lg "><i class="flaticon-settings"></i></div>
										<div class="counter text-blue m-b5">131</div>
										<span class="counter-text">
											آبسردکن
										</span> 
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
									<div class="m-b10 dlab-box text-center counter-style-2">
										<div class="icon-lg "><i class="flaticon-conveyor"></i></div>
										<div class="counter text-blue m-b5">84</div>
										<span class="counter-text">
											مبدل حرارتی
										</span> 
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					<!-- Team Section Style 4 -->
					<div class="section-full bg-gray content-inner">
						<div class="container">
							<div class="sort-title clearfix text-center">
								<h4>
									مقالات و اخبار 
								</h4>
							</div>
							<div class="team-carousel owl-carousel owl-btn-3 owl-theme owl-btn-center-lr">
								<div class="item">
									<div class="dlab-box m-b30 dlab-team7">
										<div class="dlab-media">
											<a href="blog-half-img.html">
												<img alt="" src="{% static 'images/poosam/tavarom.png' %}">
											</a>
										</div>
										<div class="dlab-info">
											<h4 class="dlab-title">
												<a href="blog-half-img.html">
													افزایش 100 درصدی قیمت کالاهای صنعتی ساخت داخل  
												</a>
											</h4>
											<!-- <span class="dlab-position">
												اگر کوچک و کمرنگ لازم بود زیرش اینجا بنویسی
											</span> -->
											<!-- یه سری آیکون لینکدین و توییتر و ... بود که فعلا لازم نبود -->
											<!-- <ul class="dlab-social-icon">
												<li><a class="site-button circle-sm gray-light fab fa-facebook-f" href="javascript:void(0);"></a></li>
												<li><a class="site-button circle-sm gray-light fab fa-twitter" href="javascript:void(0);"></a></li>
												<li><a class="site-button circle-sm gray-light fab fa-linkedin-in" href="javascript:void(0);"></a></li>
												<li><a class="site-button circle-sm gray-light fab fa-pinterest-p" href="javascript:void(0);"></a></li>
											</ul> -->
										</div>
									</div>
								</div>
								<div class="item">
									<div class="dlab-box m-b30 dlab-team7">
										<div class="dlab-media">
											<a href="blog-half-img.html">
												<img alt="" src="{% static 'images/poosam/ahamiatlabaniat.png' %}">
											</a>
										</div>
										<div class="dlab-info">
											<h4 class="dlab-title">
												<a href="blog-half-img.html">
													اهمیت لبنیات برسلامت پوست
												</a>
											</h4>
											<!-- <span class="dlab-position">
												اگر کوچک و کمرنگ لازم بود زیرش اینجا بنویسی
											</span> -->
											<!-- یه سری آیکون لینکدین و توییتر و ... بود که فعلا لازم نبود -->
											<!-- <ul class="dlab-social-icon">
												<li><a class="site-button circle-sm gray-light fab fa-facebook-f" href="javascript:void(0);"></a></li>
												<li><a class="site-button circle-sm gray-light fab fa-twitter" href="javascript:void(0);"></a></li>
												<li><a class="site-button circle-sm gray-light fab fa-linkedin-in" href="javascript:void(0);"></a></li>
												<li><a class="site-button circle-sm gray-light fab fa-pinterest-p" href="javascript:void(0);"></a></li>
											</ul> -->
										</div>
									</div>
								</div>
								<div class="item">
									<div class="dlab-box m-b30 dlab-team7">
										<div class="dlab-media">
											<a href="blog-half-img.html">
												<img alt="" src="{% static 'images/poosam/tafavotshirgov.png' %}">
											</a>
										</div>
										<div class="dlab-info">
											<h4 class="dlab-title">
												<a href="blog-half-img.html">
													تفاوت شیرگاو ،گوسفند وبز از نظر خواص و طعم 
												</a>
											</h4>
											<!-- <span class="dlab-position">
												اگر کوچک و کمرنگ لازم بود زیرش اینجا بنویسی
											</span> -->
											<!-- یه سری آیکون لینکدین و توییتر و ... بود که فعلا لازم نبود -->
											<!-- <ul class="dlab-social-icon">
												<li><a class="site-button circle-sm gray-light fab fa-facebook-f" href="javascript:void(0);"></a></li>
												<li><a class="site-button circle-sm gray-light fab fa-twitter" href="javascript:void(0);"></a></li>
												<li><a class="site-button circle-sm gray-light fab fa-linkedin-in" href="javascript:void(0);"></a></li>
												<li><a class="site-button circle-sm gray-light fab fa-pinterest-p" href="javascript:void(0);"></a></li>
											</ul> -->
										</div>
									</div>
								</div>
								<div class="item">
									<div class="dlab-box m-b30 dlab-team7">
										<div class="dlab-media">
											<a href="blog-half-img.html">
												<img alt="" src="{% static 'images/poosam/bargozariva.png' %}">
											</a>
										</div>
										<div class="dlab-info">
											<h4 class="dlab-title">
												<a href="blog-half-img.html">
													بارگذاری و راه اندازی اولین وبسایت مشاوره ای غیرحضوری صنعتی در داخل کشور
												</a>
											</h4>
											<!-- <span class="dlab-position">
												اگر کوچک و کمرنگ لازم بود زیرش اینجا بنویسی
											</span> -->
											<!-- یه سری آیکون لینکدین و توییتر و ... بود که فعلا لازم نبود -->
											<!-- <ul class="dlab-social-icon">
												<li><a class="site-button circle-sm gray-light fab fa-facebook-f" href="javascript:void(0);"></a></li>
												<li><a class="site-button circle-sm gray-light fab fa-twitter" href="javascript:void(0);"></a></li>
												<li><a class="site-button circle-sm gray-light fab fa-linkedin-in" href="javascript:void(0);"></a></li>
												<li><a class="site-button circle-sm gray-light fab fa-pinterest-p" href="javascript:void(0);"></a></li>
											</ul> -->
										</div>
									</div>
								</div>
								<div class="item">
									<div class="dlab-box m-b30 dlab-team7">
										<div class="dlab-media">
											<a href="blog-half-img.html">
												<img alt="" src="{% static 'images/poosam/keifiatlabaniat.png' %}">
											</a>
										</div>
										<div class="dlab-info">
											<h4 class="dlab-title">
												<a href="blog-half-img.html">
												آیا کیفیت لبنیات سنتی را میتوانیم بهینه کنیم ؟
												</a>
											</h4>
											<!-- <span class="dlab-position">
												اگر کوچک و کمرنگ لازم بود زیرش اینجا بنویسی
											</span> -->
											<!-- یه سری آیکون لینکدین و توییتر و ... بود که فعلا لازم نبود -->
											<!-- <ul class="dlab-social-icon">
												<li><a class="site-button circle-sm gray-light fab fa-facebook-f" href="javascript:void(0);"></a></li>
												<li><a class="site-button circle-sm gray-light fab fa-twitter" href="javascript:void(0);"></a></li>
												<li><a class="site-button circle-sm gray-light fab fa-linkedin-in" href="javascript:void(0);"></a></li>
												<li><a class="site-button circle-sm gray-light fab fa-pinterest-p" href="javascript:void(0);"></a></li>
											</ul> -->
										</div>
									</div>
								</div>
								<div class="item">
									<div class="dlab-box m-b30 dlab-team7">
										<div class="dlab-media">
											<a href="blog-half-img.html">
												<img alt="" src="{% static 'images/poosam/mastbandi.png' %}">
											</a>
										</div>
										<div class="dlab-info">
											<h4 class="dlab-title">
												<a href="blog-half-img.html">
													آیا ماست بندی ها ناجی دامداریهای شیری و جیب مردم خواهند بود ؟
												</a>
											</h4>
											<!-- <span class="dlab-position">
												اگر کوچک و کمرنگ لازم بود زیرش اینجا بنویسی
											</span> -->
											<!-- یه سری آیکون لینکدین و توییتر و ... بود که فعلا لازم نبود -->
											<!-- <ul class="dlab-social-icon">
												<li><a class="site-button circle-sm gray-light fab fa-facebook-f" href="javascript:void(0);"></a></li>
												<li><a class="site-button circle-sm gray-light fab fa-twitter" href="javascript:void(0);"></a></li>
												<li><a class="site-button circle-sm gray-light fab fa-linkedin-in" href="javascript:void(0);"></a></li>
												<li><a class="site-button circle-sm gray-light fab fa-pinterest-p" href="javascript:void(0);"></a></li>
											</ul> -->
										</div>
									</div>
								</div>
								<div class="item">
									<div class="dlab-box m-b30 dlab-team7">
										<div class="dlab-media">
											<a href="blog-half-img.html">
												<img alt="" src="{% static 'images/poosam/gavdari.png' %}">
											</a>
										</div>
										<div class="dlab-info">
											<h4 class="dlab-title">
												<a href="blog-half-img.html">
													بالاتر بردن کیفیت لبنیات سنتی با روش تولید فرمولاسیون در سراسر کشور
												</a>
											</h4>
											<!-- <span class="dlab-position">
												اگر کوچک و کمرنگ لازم بود زیرش اینجا بنویسی
											</span> -->
											<!-- یه سری آیکون لینکدین و توییتر و ... بود که فعلا لازم نبود -->
											<!-- <ul class="dlab-social-icon">
												<li><a class="site-button circle-sm gray-light fab fa-facebook-f" href="javascript:void(0);"></a></li>
												<li><a class="site-button circle-sm gray-light fab fa-twitter" href="javascript:void(0);"></a></li>
												<li><a class="site-button circle-sm gray-light fab fa-linkedin-in" href="javascript:void(0);"></a></li>
												<li><a class="site-button circle-sm gray-light fab fa-pinterest-p" href="javascript:void(0);"></a></li>
											</ul> -->
										</div>
									</div>
								</div>
							
							</div>
						</div>
					</div>
					<!-- Team Section Style 4 End -->
								 <!-- Testimonials Style 4 -->
				<div class="section-full bg-gray content-inner-2">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="sort-title clearfix text-center">
									<h4>
										نظرات بازدید کنندگان : 
									</h4>
								</div>
							</div>
						</div>
						<div class="section-content">
							<div class="testimonial-six owl-carousel owl-btn-center-lr owl-btn-2 primary testimonial-13-area dots-style-3 owl-theme">
								<div class="item">
									<div class="testimonial-13">
										<div class="testimonial-text">
											<div class="quote-left"></div>
											<p>
												سلام و ارادت کارشناس دادگستری هستم و توضیحات و تنوع محصولات شما عالی است دستمریزاد دارید مدیریت حرفه ای و سایت باقابلیت شفاف سازی برای نشتری احسنت و خداقوت
											</p>
										</div>
										<div class="testimonial-detail clearfix">
											<div class="testimonial-pic radius shadow">
												<img src="{% static 'images/poosam/AmjadKhan.png' %}" alt="">
											</div>
											<h5 class="testimonial-name m-t10 m-b5">
												امجد ابراهیمی
											</h5> 
											<span class="testimonial-position text-primary">
												تاریخ : 1402/05/20
												ساعت : 17 : 13
											</span> 
										</div>
									</div>
								</div>
								<div class="item">
									<div class="testimonial-13">
										<div class="testimonial-text">
											<div class="quote-left"></div>
											<p>
												سلام و ارادت کارشناس دادگستری هستم و توضیحات و تنوع محصولات شما عالی است دستمریزاد دارید مدیریت حرفه ای و سایت باقابلیت شفاف سازی برای نشتری احسنت و خداقوت
											</p>
										</div>
										<div class="testimonial-detail clearfix">
											<div class="testimonial-pic radius shadow">
												<img src="{% static 'images/poosam/hamed.png' %}" alt="">
											</div>
											<h5 class="testimonial-name m-t10 m-b5">
												حامد ابراهیمی
											</h5> 
											<span class="testimonial-position text-primary">
												تاریخ : 1402/05/20
												ساعت : 17 : 17
											</span> 
										</div>
									</div>
								</div>
								<div class="item">
									<div class="testimonial-13">
										<div class="testimonial-text">
											<div class="quote-left"></div>
											<p>
												سلام و ارادت کارشناس دادگستری هستم و توضیحات و تنوع محصولات شما عالی است دستمریزاد دارید مدیریت حرفه ای و سایت باقابلیت شفاف سازی برای نشتری احسنت و خداقوت
											</p>
										</div>
										<div class="testimonial-detail clearfix">
											<div class="testimonial-pic radius shadow">
												<img src="{% static 'images/poosam/Nazaninbayati.png' %}" alt="">
											</div>
											<h5 class="testimonial-name m-t10 m-b5">
												نازنین ابراهیمی
											</h5> 
											<span class="testimonial-position text-primary">
												تاریخ : 1402/05/20
												ساعت : 45 : 13
											</span> 
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Testimonials Style 4 End -->
			</div>
			<!-- contact area END -->
		</div>
		<!-- Content END -->

{% endblock body %}

{% block js %}
{% endblock js %}
